

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(42, 193, 135);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.titre {
    background-color: #21aae1;
}
.home{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.homeIM{
    width:50%;
    height: 420px;
padding-left: 250px;
}

h1{
    color:#9cc5a2;
    font-weight: bold;
    font-style: italic;
    align-items: center;
}
